<p style="color: green"><%= notice %></p>

<h1>Webhooks</h1>

<div id="webhooks">
  <% @webhooks.each do |webhook| %>
    <%= render webhook %>
    <p>
      <%= link_to "Show this webhook", webhook %>
    </p>
  <% end %>
</div>

<%= link_to "New webhook", new_webhook_path %>
